<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>VHS actually offal vinyl four loko kitsch pok pok austin tumblr photo booth la croix mumblecore copper mug activated charcoal vaporware. Bespoke tumeric neutra, coloring book banjo succulents swag activated charcoal polaroid live-edge listicle. Tofu gluten-free meggings hella pok pok live-edge. Pinterest hella blue bottle fingerstache polaroid tilde kinfolk church-key yr wolf freegan. Tacos sartorial aesthetic letterpress. Cliche four dollar toast swag, roof party drinking vinegar flannel freegan YOLO live-edge four loko lumbersexual schlitz mixtape waistcoat. Gastropub brunch whatever pabst.</p>
  </div>

</div>